<head>
<title>CLE 字型伺服器</title>
<meta name="description" content="CLE 字型伺服器">
<meta name="keywords" content="CLE 字型伺服器">
<meta http-equiv="Content-Type" content="text/html; charset=Big5">
</head>
<body>
<pre>
<font size=5>
歡迎光臨 <a href=http://cle.linux.org.tw/fonts/>CLE 檔案伺服器 -- 字型區</a>
這裡是 -- cwTeX TrueType 字型區
</font>
最新 Release 版本: v1.0
</pre>
